<div class="flex-container notmobile">
  <span class="flex-spacing">Redouan TAYAA</span>
  <a class="flex-spacing" href="#about">A propos</a>
  <a class="flex-spacing" href="#experience">Expériences</a>
  <a class="flex-spacing" href="#skill">Compétences</a>
  <a class="flex-spacing" href="#education">Formations</a>
  <a class="flex-spacing" href="#contact">Contact</a>
</div>
<div class="flex-container mobile">
  <a class="flex-spacing" href="#experience">Expériences</a>
  <a class="flex-spacing" href="#skill">Compétences</a>
  <a class="flex-spacing" href="#contact">Contact</a>
</div>
